@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.App {
  font-family: 'Raleway', sans-serif;
}

.form{
  margin-top:80%;
}
.marginimg{
  margin-left: 65%;
}
.img{
  width: 200px;
  height: 200px;
}
a:link{
  text-decoration:none;
  color:black;

}